<% content_for :head do %>
	<%= auto_discovery_link_tag(:atom, :controller => 'topics', :action => 'show') %>
<% end %>

<% content_for :top_nav do %>
	<h1><%=link_to "Forums", forums_path %> : <%= link_to @forum.name, forum_path(@forum) %> : <%= @topic.title %> </h1>
<% end %>
<p>
  <%= @topic.body.html_safe %>
</p>
<hr/>

<h2>Posts <%= link_to image_tag("forums/feed-icon-14x14.png"), forum_topic_path(@forum, @topic, :format => :atom)%></h2>

<%= render :partial => "/posts/post", :collection => @topic.posts %>

<% if user_signed_in? %>
	<p><%= link_to "New Post", new_forum_topic_post_path(@forum, @topic) %></p>
<% end %>

<hr/>

<% if editor?(@topic) %>
	<%= link_to 'Edit', edit_forum_topic_path(@forum, @topic) %> |
	<%= link_to 'Destroy Topic', forum_topic_path(@forum, @topic), :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', forum_topics_path(@forum) %>
