<h1><%=APP_NAME%></h1>

<p>Support for</p>
<ul>
	<li>MySql</li>
	<li><%= link_to "Devise - user management", "https://github.com/plataformatec/devise" %></li>
	<li><%= link_to "Redis", "https://github.com/ezmobius/redis-rb" %></li>
	<li><%= link_to "Common Utils", "https://github.com/wiseleyb/common_utils" %></li>
	<li><%= link_to "Country Select", "https://github.com/rails/iso-3166-country-select" %></li>
	<li><%= link_to "Blue Print CSS Frame work", "http://www.blueprintcss.org/" %></li>
	<li><%= link_to "Moonshine - for an easy deploy", "http://blog.railsmachine.com/articles/2010/02/17/smooth-devoperations-deploying-rails-3-with-moonshine/comments#comment-9585" %></li>
	<li><%= link_to "Cucumber", "https://github.com/aslakhellesoy/cucumber-rails" %></li>
</ul>

<p>See README for getting started with this</p>
